:root {
  /* hex values: #61e2ff, #fc199a, #ffcc00, #9963ff */
}

/* ///// */
/* reset */
/* ///// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro";
}

/* ////////////// */
/* font & borders */
/* ////////////// */

.text-blue {
  color: #61e2ff;
  text-shadow: 0 0 2px #100c0f, 0 0 3px #61e2ff88, 0 0 5px #61e2ff88, 0 0 10px #61e2ff88;
}

.border-blue {
  border: #61e2ff 2px solid;
  box-shadow: 0 0 2px #100c0f, 0 0 3px #61e2ff88, 0 0 5px #61e2ff88, 0 0 10px #61e2ff88;
}

.text-pink {
  color: #fc199a;
  text-shadow: 0 0 2px #100c0f, 0 0 3px #fc199a88, 0 0 5px #fc199a88, 0 0 10px #fc199a88;
}

.border-pink {
  border: #fc199a 2px solid;
  box-shadow: 0 0 2px #100c0f, 0 0 3px #fc199a88, 0 0 5px #fc199a88, 0 0 10px #fc199a88;
}

.text-yellow {
  color: #ffcc00;
  text-shadow: 0 0 2px #100c0f, 0 0 3px #ffcc0088, 0 0 5px #ffcc0088, 0 0 10px #ffcc0088;
}

.border-yellow {
  border: #ffcc00 2px solid;
  box-shadow: 0 0 2px #100c0f, 0 0 3px #ffcc0088, 0 0 5px #ffcc0088, 0 0 10px #ffcc0088;
}

.text-purple {
  color: #9963ff;
  text-shadow: 0 0 2px #100c0f, 0 0 3px #9963ff88, 0 0 5px #9963ff88, 0 0 10px #9963ff88;
}
.border-purple {
  border: #9963ff 2px solid;
  box-shadow: 0 0 2px #100c0f, 0 0 3px #9963ff88, 0 0 5px #9963ff88, 0 0 10px #9963ff88;
}

.text-white {
  color: #ddddff;
  text-shadow: 0 0 2px #100c0f, 0 0 13px #ddddff88, 0 0 15px #ddddff88, 0 0 20px #ddddff88;
}
.border-white {
  border: #ddddff 2px solid;
  box-shadow: 0 0 2px #100c0f, 0 0 13px #ddddff88, 0 0 15px #ddddff88, 0 0 20px #ddddff88;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 2rem;
  color: inherit;
  text-shadow: inherit;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  p {
    font-size: 1rem;
  }
}

dialog {
  margin: auto;
  padding: 50px;
  background-color: rgba(14, 55, 87, 1);
  border-radius: 5px;
}

dialog::backdrop {
  background-color: hsl(var(--color-black));
  opacity: 0.4;
}

.container {
  display: grid;
  grid-template-columns: 2vw 96vw 2vw;
  grid-template-rows: 5vh 90vh 5vh;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";

  background: rgb(14, 55, 87);
  background: linear-gradient(
    180deg,
    rgba(14, 55, 87, 1) 26%,
    rgba(217, 30, 73, 1) 56%,
    rgba(240, 192, 79, 1) 66%,
    rgba(217, 30, 73, 1) 76%,
    rgba(10, 13, 18, 1) 96%
  );
}

header {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  grid-area: header;
}

main {
  padding: 1px;
  background-color: #00000099;
  height: 100%;
  min-width: 90vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  grid-area: main;
  border-radius: 5px;
}

.box {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  animation-name: animate;
  animation-duration: 1.5s;
}

footer {
  width: 100%;
  margin: auto;
  text-align: center;
  grid-area: footer;
}

button {
  background-color: var(--color-accent);
  border-radius: 5px;
  padding-inline: 5px;
  margin-top: 5px;
}

/* input {
  border: red solid 2px;
  width: 100px;
  border-radius: 5px;
  padding-inline: 1rem;
  appearance: textfield;
  text-align: center;
} */

@keyframes animate {
  from {
    /* transform: scale(0.95); */
    transform: skew(5deg);
  }
  to {
    /* transform: scale(1); */
    transform: skew(0deg);
  }
}
